[2021-05-05 19:15] Tomcli opened #12 "Update all the Kubeflow related client to match with Kubeflow 1.3 release"
kfp -> 1.5.0 (not out yet, need to build from source)
kfp-tekton -> 0.8.0-rc0
kfserving -> 0.5.0.1

[2021-05-06 01:35] ckadner opened #21 "Update README links to the katalog repo when it goes public"
See https://github.com/machine-learning-exchange/mlx/pull/19#pullrequestreview-652884770

[2021-05-06 19:37] ckadner opened #23 "Missing MAX models?"
[code]
[code]

[2021-05-06 20:01] Tomcli commented on #23
@ckadner Since we already have the API to populate the initial catalogs, can we move the bootstrapper init functions to the API so we don't have to maintain another configmap?

[2021-05-06 20:35] ckadner commented on #23
We could just keep the `bootstrapper/catalog_upload.json` and add a small Python script to call the API.

I would then remove all of these files:

- bootstrapper/bootstrap.yaml
- bootstrapper/configmap.yaml
- bootstrapper/Dockerfile
- bootstrapper/start.py

And rewrite the README.md

If you agree I will create a PR for that.

[2021-05-06 20:38] Tomcli commented on #23
sure

[2021-05-11 08:08] romeokienzler opened #26 "Quickstart not working with docker-compose running on a remote machine"
**Describe the bug**

Error when starting quickstart on docker compose

**To Reproduce**

https://github.com/ckadner/mlx.git
cd mlx
git checkout docker-compose
docker-compose up
ERROR: Service 'dashboard' depends on service 'mlx-init' which is undefined.

**Expected behavior**
quickstart starts

**Screenshots**

**Environment**

 - OS: Ubuntu 18.04.5 LTS
 - Browser -
 - MLX Version see above
 - Do

[2021-05-11 18:25] ckadner commented on #26
I had renamed the `mlx-init` service to `catalog` without updating the service name under the `dashboard` service. Apparently my Docker compose client still found the service under the old name, so I did not notice this inconsistency.

Should be fixed with [this commit](https://github.com/machine-learning-exchange/mlx/pull/25/commits/5e49fa1ec62a78abc40b52f3d7d05e5a6d9b42d6#diff-77e6cdd74f79d90bd9

[2021-05-11 19:40] ckadner commented on #26
Huh, interesting, I did not mean to close this issue. Seems like merely linking this issue to the PR closed this issue.

[2021-05-12 17:53] ckadner commented on #26
@romeokienzler

[2021-05-18 19:04] #26 closed

[2021-05-18 19:12] ckadner opened #42 "[CodeScan][Dashboard] Missing rate limiting"
**Only project maintainers can see the details of this issue**

https://github.com/machine-learning-exchange/mlx/security/code-scanning/1?query=ref%3Arefs%2Fheads%2Fmain

[2021-05-18 19:12] ckadner commented on #42
@drewbutlerbb4

[2021-05-18 19:17] ckadner opened #43 "Travis should only build API or Dashboard image when respective code has changed"
From @Tomcli:

_Originally posted by @Tomcli in https://github.com/machine-learning-exchange/mlx/issues/27#issuecomment-843456414_

[2021-05-18 19:21] ckadner commented on #43
This is a good idea @Tomcli -- let me know if you want to add this? Otherwise I will create a PR for it.

[2021-05-18 19:27] Tomcli commented on #43
I can put up something simple to start with. What we have in kfp-tekton is to check whether any source file in our dockerfiles has changed, if so run the docker build. You can update the script later on if you want to check for diff in a specific dockerfile.

[2021-05-18 20:31] ckadner opened #44 "Upgrade API to kfp==1.5.x, kf_serving==0.5.x, kfp-tekton==0.8.x"

[2021-05-18 21:22] ckadner opened #47 "[UI] Disable pipeline run/launch in Docker Compose"
When [running MLX with `docker-compose`](https://github.com/machine-learning-exchange/mlx/tree/main/quickstart) the KFP API is [not available](#28).

We need to disable the pipeline run capabilities in the UI when the `REACT_APP_KFP` is not set, or set it to `"UNAVAILABLE"` like for the MLX API:

https://github.com/machine-learning-exchange/mlx/blob/56d5f6f47a7bd66d41fc0b42ce30158db1279b6c/quickst

[2021-05-18 21:23] ckadner commented on #43
#45

[2021-05-18 22:18] #43 closed

[2021-05-19 05:34] ckadner commented on #21
Closing this issue since the main `README.md` is linking to the asset-specific READMEs in the folders for `/components`, `/datasets`, `/models`, `/notebooks`, `/pipelines`

[2021-05-19 05:34] #21 closed

[2021-05-20 17:58] ckadner commented on #47
@yhwang -- FYI

[2021-05-20 18:50] ckadner commented on #47
I will try to update the settings when initializing MLX similarly to how we disable the KF Serving capabilities

[2021-05-20 23:42] Tomcli opened #50 "MLX pipeline API schema doesn't work with Kubeflow 1.3"
**Describe the bug**

When getting a list of pipelines from Kubeflow 1.3 using the MLX API. The server returns 500 with these errors
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Deploy Kubeflow 1.3
2. Deploy MLX
3. Go to the pipeline page, one of the apis will return 500 with the above error.

**Expected behavior**

A clear and concise description of what you expected to happen.

[2021-05-21 05:22] ckadner commented on #50
I need to add the `namespace` property to the Pipeline API object

[2021-05-21 17:54] #47 closed

[2021-05-25 19:57] drewbutlerbb4 commented on #42
Fixed in: e93efb19a0ea9cf79c494d1bbe9dbf64ca6973ab

[2021-05-25 19:57] #42 closed

[2021-05-25 21:47] ckadner commented on #50
@Tomcli -- do you know why the `namespace` attribute does not show up in the pipeline Swagger spec?

https://github.com/kubeflow/kfp-tekton/blame/master/backend/api/swagger/pipeline.swagger.json#L524-L572

or

https://github.com/kubeflow/pipelines/blame/master/backend/api/swagger/pipeline.swagger.json#L524-L572

[2021-05-25 21:57] Tomcli commented on #50
They haven't update the swagger that much to keep the backward compatibility, but they did change the way to fetch pipelines for multi-user in kfp 1.5. See
https://github.com/kubeflow/kfp-tekton/blob/master/backend/src/apiserver/server/pipeline_server.go#L446-L472

[2021-05-26 20:17] ckadner opened #54 "Add link to quickstart on main README"

[2021-05-26 20:38] ckadner opened #55 "Update MLX logo"
Update in:
- UI
- READMEs
- screenshots
- presentation materials

[2021-05-26 20:55] ckadner opened #56 "UI to upload assets shows plural labels when singular is required"
<img width="987" alt="MLX upload Models" src="https://user-images.githubusercontent.com/12246093/119730255-5f32ca00-be2a-11eb-90b3-0e210829bffb.png">

same for the other asset upload pages

[2021-05-26 21:00] ckadner commented on #56
thanks @ptitzler for finding this

[2021-05-26 21:01] ckadner commented on #55
Thanks @ptitzler for pointing this out!

[2021-05-26 22:26] ckadner opened #58 "Bypass check for changed files in Travis CRON job to push Docker images"
[code]

However, if there were multiple commits during the day and the last commit of the day has no API/UI changes, then the CRON job will terminate early even though there have been other UI / API changes earlier during the day.

[2021-05-27 02:29] #58 closed

[2021-05-27 20:28] #54 closed

[2021-05-27 20:43] animeshsingh opened #65 "remove operator deployment and just add kubectl"
project is too early to be exposing an operator deployment

[2021-05-27 20:44] animeshsingh commented on #65
/assign @moficodes

[2021-05-27 20:49] moficodes commented on #65
@animeshsingh remove the readme files? or just remove the reference from the main readme.

[2021-05-27 22:51] animeshsingh commented on #65
reference only

[2021-05-28 20:25] ckadner commented on #55
@drewbutlerbb4 -- Please update the UI code when you get a chance. Thanks!

[2021-05-28 22:04] ckadner commented on #56
@drewbutlerbb4 -- can you give this one a shake as well? Thanks.

[2021-06-02 17:46] ckadner opened #70 "Remove api/swagger-codegen-cli-2.4.8.jar file"
The `swagger-codegen` CLI can be readily installed from external sources and need not be part of this repository.

Furthermore, the `swagger-cli` is not required for code generation. Only the `swagger-codegen` is required.
## Swagger Codegen 2.4.

We are using `swagger-codegen` version `2.4.x` to generate our API as `swagger-codegen`
version `3.0.x` no longer supports `python` (server) any longer.

[2021-06-02 17:47] ckadner commented on #70
FYI: @animeshsingh @Tomcli

[2021-06-02 17:51] Tomcli commented on #70
We put that jar files for our interns because they were having issue using the swagger codegen from homebrew. I think swagger 2 is really old so it's hard for new developers to install the old codegen cli with the right settings.

[2021-06-02 17:55] ckadner commented on #70
brew search swagger-codegen@
    brew install swagger-codegen@2
    brew link --force swagger-codegen@2

Did not work for you or Anessa? Can you elaborate on what did not work or what settings were not obvious or could not be adjusted? We have a script file wrapping the code generation which should take care of any settings or adjustments.

[2021-06-02 17:57] Tomcli commented on #70
I think each macbook has different java and homebrew version. It's just hard to debug these kinds of env remotely. The issue we have last time is that the `brew install swagger-codegen@2` installed codgen 2.4.12+ which is not matching with the MLX schema we have.

[2021-06-02 18:00] Tomcli commented on #70
If we can have instructions that install a pre-build binary (without homebrew etc), then we can make things more consistent.

[2021-06-02 18:44] Tomcli opened #72 "instructions for how to install the java jar version of codegen."
@ckadner we probably need a set of instructions for how to install the java jar version of codegen. Homebrew and maven plugin might be too complicated and it may change based on the user's java/brew config.

_Originally posted by @Tomcli in https://github.com/machine-learning-exchange/mlx/issues/71#issuecomment-853293435_

[2021-06-02 18:46] #70 closed

[2021-06-02 18:51] Tomcli commented on #72
I think this wget command can do the trick, but mac users need to install wget first
[code]

[2021-06-02 19:12] ckadner commented on #72
@Tomcli -- The choice is **either** Homebrew **or** downloading the jar file. Maven should not be needed unless building the swagger-codegen jar from source is desired.

Our instructions currently also link to the [`swagger-api/swagger-codegen`](https://github.com/swagger-api/swagger-codegen) on GitHub, which should provide the details on other install or build option.

Did you want to copy this e

[2021-06-02 19:19] Tomcli commented on #72
yes, I think the swagger-codegen repo can be too confusing especially for junior developers. Also I remember 2.4.10 might change some schema on the MLX? I remember back then I have to downgrade the codegen-cli to 2.4.8 in order to not change some of the schema.

[2021-06-02 19:21] Tomcli commented on #72
also the homebrew command is always installing the latest codegen 2.4.x (right now is 2.4.20). If we can't support that version then maybe we need to note it down.

[2021-06-02 21:30] ckadner commented on #72
The latest `swagger-codegen@2` formula `2.4.20` from Homebrew works fine as well. Just tested it.

Not sure what you may have experienced with respect to _"... `swagger-codegen` 2.4.12+ ... not matching with the MLX schema ..."_

[2021-06-02 21:45] Tomcli commented on #72
When you run `./generate_code.sh`, it was generated some code differences. Is there any extra step we need to do?

[2021-06-02 22:22] ckadner commented on #72
Oh, yes, that's true. I added some fixes for that in previous commits and corrected the Git master branch reference to main in PR #59

[2021-06-02 23:16] ckadner opened #73 "Create KIND deployment option for MLX including KFP"
See _local cluster deployment_ options for Kubeflow Pipelines at https://www.kubeflow.org/docs/components/pipelines/installation/localcluster-deployment/.

The MLX API and UI should _simply_ be deployed on top of that. Easy as pie 😄 🍰

[2021-06-03 23:46] ckadner opened #76 "Update API to enable multi-user deployment"
Follow up to PR #59

### TODOs:

* [ ] **upload** pipelines only by authenticated user:
  * [ ] without providing a `namespace` makes the pipeline public (**DEFAULT ?**)
  * [ ] with his/her `namespace` makes the pipeline private
* [ ] **launching** pipelines requires user's `namespace` (implicitly provided by UI, explicitly accepted by API)
* [ ] **listing** pipelines:
  * [ ] by `anonymous` user

[2021-06-04 17:39] ckadner commented on #72
Yes. I had codified the required post-processing in the script `api/generate_code.sh` to undo the undesired codegen results, by doing a codegen before and after making changes to `api/swagger/swagger.yaml` and generating a reverse patch from the changes generated by running `codegen.sh` before having done any changes to the Swagger API spec.

I will do an evaluation of the various `swagger-codegen

[2021-06-04 17:51] #44 closed

[2021-06-04 17:51] #50 closed

[2021-06-04 18:49] yhwang opened #77 "[ui] The experiments iframe contains kubeflow namespace selector banner"
The experiments iframe points to `/_/pipeline/?ns=mlx#/experiments` which contains the whole experiments view from kubeflow dashboard. The original `/pipeline/#/experiments` doesn't work since kfp v.13. The original link can't get correct namespace information and fails to show the experiments.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to mlx dashboard
2. Login as admin user
3. Cli

[2021-06-04 19:02] Tomcli opened #78 "[ui] UI needs to implement a logout page"
**Is your feature request related to a problem? Please describe.**
Right now there's no way for the admin to logout other than clear up the browser cookies, so we need a logout page to simply this process.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2021-06-04 19:07] Tomcli opened #79 "MLX login needs to support AppID as an option."
**Is your feature request related to a problem? Please describe.**
MLX right now only can login using basic browser form. We need to add support for AppID login in the MLX login page.

The Kubeflow way of forcing login is based on domain path. However, MLX needs to force login based on user role, not the domain path. Thus, it needs to support the AppID login using the following documentations.
htt

[2021-06-07 23:01] ptitzler commented on #56
The PR does not address the issue in the label text:

![image](https://user-images.githubusercontent.com/13068832/121097667-35be5a80-c7a9-11eb-9e86-a07df177f7d4.png)

https://github.com/drewbutlerbb4/mlx/blob/4c229c82330082717b603c35000afe050c6f2884/dashboard/origin-mlx/src/pages/UploadPage.tsx#L144

[2021-06-08 15:47] drewbutlerbb4 commented on #56
Thanks @ptitzler didn't catch that. I'll append the change to my next PR

[2021-06-08 19:24] ckadner opened #83 "[UI] Apply title case to asset names, replace dashes with space"
Currently the UI displays the name of the assets (i.e. pipelines) as it was provided (or extracted from YAML) during pipeline registration. Depending on the means of registration (via MLX UI, KFP UI, KFP SDK, MLX API, MLX catalog import, or MLX bootstrapper) there are cases when the name defaults to a quasi ID like `trusted-ai` or `my-pipeline`. It may be useful to have the UI replace those dashes

[2021-06-08 21:46] ckadner commented on #73
@sabary661990615

[2021-06-09 00:39] ckadner commented on #73
/assign @sabary661990615

[2021-06-09 01:09] Tomcli commented on #73
FYI non org members only can self assign issues.

[2021-06-09 19:41] srishtipithadia opened #85 "Quickstart problems"
**Describe the bug**

[code]

[2021-06-09 21:55] ckadner commented on #85
Thanks @srishtipithadia --

[code]

This should have been fixed in PR #59. I will investigate to see what I must have missed.

https://github.com/machine-learning-exchange/mlx/pull/59/files#diff-009525a8710a1208c5a20ecc3761aede7009223e0ee0e5c2bb028279a8f2d879R53

[2021-06-10 00:07] #85 closed

[2021-06-10 17:07] drewbutlerbb4 commented on #77
Just to make sure I understand, the issue here is that you would like to remove the namespace selector banner that is displayed in the experiments iframe?

[2021-06-10 17:47] yhwang commented on #77
yes, correct. and when you click on the three horizontal line icon (on the very left of the namespace selector), it shows you the kubeflow nav menu. basically, for now, using ` /_/pipeline/?ns=mlx#/experiments`, it includes the whole kubeflow dashboard.

[2021-06-10 18:06] #56 closed

[2021-06-11 01:18] ckadner opened #88 "Integrate project CodeNet dataset(s) and Jupyter notebook"
The IBM Research project [CodeNet](https://developer.ibm.com/technologies/artificial-intelligence/data/project-codenet/) provides various datasets and Jupyter notebook.

It would be great to add one of those datasets and a Jupyter notebook to the MLX catalog.

@srishtipithadia

[2021-06-11 18:47] ckadner opened #89 "Add check_license script"
Add a script such as the one referenced to ensure that a source file has a license header and it is likely that SPDX will be used to create SBOM (Software Bill of Materials) for OSS

[2021-06-11 18:49] ckadner commented on #89
We did a similar thing for kfp-tekton: https://github.com/kubeflow/kfp-tekton/blob/be2f5b97e72de1150f4f1a3980468da1a50cb167/Makefile#L85-L91

[2021-06-12 00:52] Tomcli opened #91 "Single user pipeline run is having error"
**Describe the bug**
When running single user MLX, the pipeline run is returning the below errors:
[code]

However, for component, model, dataset, notebook runs, the pipeline run works fine.

**To Reproduce**
Install kustomize 3.2.1
[code]
Go to <public_ip>:30380/mlx, publish the default pipeline in the view all pipelines and run it. You will see a blank page because the API is returning the above

[2021-06-12 01:01] Tomcli commented on #91
/assign @ckadner

[2021-06-14 18:53] ckadner opened #93 "Keep npm dependencies up to date"
Many of our `npm` dependencies get pinned to a certain version (see `package-lock.json`) which become outdated quickly. Those outdated version often have [security vulnerabilities](https://github.com/machine-learning-exchange/mlx/security/dependabot) that get fixed in more recent versions. However the MLX UI keeps using the pinned outdated versions.

We should try using tools like `npm-upgrade` an

[2021-06-14 19:14] ckadner opened #94 "UI enforces .tgz or .tar.gz upload file formats where .yaml is supported by API"
@drewbutlerbb4 -- in the MLX API, assets can be uploaded using either `.tgz`/`.tar.gz` file formats or `.yaml`/`.yml` files, as well as URLs pointing to files in either of those formats.

Do you know why/where the UI enforces `.tgz`/`.tar.gz` upload formats?

[2021-06-14 19:14] ckadner commented on #94
@romeokienzler

[2021-06-14 19:15] ckadner commented on #94
Once we clarify, and/or make changes in the UI we also need to update our READMEs that describe the upload for all respective asset types

[2021-06-14 19:32] drewbutlerbb4 commented on #94
I probably overlooked it or maybe it didn't get passed down to me. I don't think there is a reason why we should not accept yamls in the UI

[2021-06-14 19:45] drewbutlerbb4 commented on #83
@ckadner How are these `quasi IDs` identified? Or are you suggesting that all dashes should be changed to spaces and title case should be forced on all names? This seems like a bandaid for a larger problem. Is there a reason we can't align the different MLX methods around the convention set by KFP?

In the meantime I can submit a PR to force show dashes as spaces and force title case.

[2021-06-14 20:52] drewbutlerbb4 opened #95 "Uploading any asset causes all other assets of the same type to disappear from the Featured Page"
**Describe the bug**

Uploading any asset causes all other assets of the same type to disappear from the Featured Page

(Might be specific to docker compose)
More specifically, uploading a model causes all other models to lose their publish_approved and featured values.

**To Reproduce**

Steps to reproduce the behavior:
1. Start up the docker compose quickstart
2. Upload a new model

**Expected b

[2021-06-15 18:47] drewbutlerbb4 commented on #83
@ckadner I have created a PR for this, if you or Animesh feel this is sufficient then feel free to close the issue.

[2021-06-15 20:08] romeokienzler opened #97 "Quickstart UI missing upload functionality"
**Describe the bug**
The Quickstart UI is missing any upload functionality

**To Reproduce**
Deploy quickstart on docker-compose and start the UI - you won't see any upload buttons

**Expected behavior**

Upload buttons/functionality available as in kubernetes version

**Environment**

 - OS: RHEL 8.x
 - Browser FF
 - MLX Version 29c79a1463c7c0ebd55d6a34760e607ab669d7e5

**Additional context**

Qu

[2021-06-15 20:11] ckadner commented on #97
Thanks @romeokienzler

@drewbutlerbb4 @yhwang -- while with Docker Compose, we don't have KFP, we can't launch pipelines, we should however be able to upload, delete assets.

Can we bring up the UI in admin mode by default in Docker Compose using env variables or the settings file, without requiring a login by the user, since the user running Docker Compose is the "admin" in this local context.

[2021-06-15 21:54] ckadner commented on #91
@Tomcli -- on your single-user cluster I get this error when trying to create (or get) an experiment:

[code]

This happens regardless of setting the namespace to `None`, `""`, leaving the parameter out, since the KFP client will default to populate the `kubeflow` namespace in it's own call to the KFP server API to `get_experiment`.

@yhwang -- I am getting this error (from outside the cluster) mu

[2021-06-15 22:11] Tomcli commented on #91
@ckadner so I use the KFP-Tekton 0.8.1 SDK to run pipelines on single user mode. If you follow this instruction it should able to submit the pipeline with the `run_pipeline` function.
https://github.com/kubeflow/kfp-tekton/tree/master/guides/kfp-user-guide#2-run-pipelines-using-the-kfp_tektontektonclient-in-python

[2021-06-15 22:17] ckadner commented on #91
@Tomcli -- the MLX API deployed on your single-user cluster is still trying to use the `ml-pipeline-ui` service. I will switch to using the `ml-pipeline` service, or, rather I will let KFP Client figure that out.

[2021-06-15 22:23] Tomcli commented on #91
@ckadner as long as the API is able to run pipelines, it doesn't really matter how you provision the client. But I do recommend to use the `ml-pipeline` service endpoint if we want to keep things consistent.

[2021-06-15 22:25] Tomcli commented on #91
you can add a flag during deployment time to tell whether MLX is deployed with single user or multi-user KFP. I will update the manifest accordingly.

[2021-06-15 22:47] ckadner commented on #94
@drewbutlerbb4 when you get a chance to tackle this, please also enable the `/{asset-type}/upload_from_url`

[2021-06-16 01:43] ckadner commented on #95
@drewbutlerbb4 -- I cannot reproduce this bug. How did you enable the upload in the Quickstart with Docker Compose since that was not working anymore (#97)?

[2021-06-16 05:00] #97 closed

[2021-06-16 08:23] yhwang commented on #91
For the error in multi-user env, I guess the solution is that mlx-api pod needs to carry the `kubeflow-userid` header when calling ml-pipeline APIs. can you try out this mlx-ui image: `yihongwang/mlx-ui:dev`?
In that image, I injected the `kubeflow-userid` header into the request at the proxy middleware.

[2021-06-16 09:02] romeokienzler opened #100 "API should validate uploaded asset metadata"
**Describe the bug**

When uploading a (potentially defunct) [component.yaml](https://github.com/romeokienzler/c3/raw/87e99aeb9e6864694ab7c02524086b3895aa795c/component.tar.gz) breaks UI. Uploading works but detail view on the component is empty

**To Reproduce**
- Upload this [component.yaml](https://github.com/romeokienzler/c3/raw/87e99aeb9e6864694ab7c02524086b3895aa795c/component.tar.gz)
- Clic

[2021-06-16 09:13] romeokienzler opened #101 "Supported upload file typeextension for uploading components doesn't include yaml"
**Describe the bug**

Supported upload file typeextension for uploading components doesn't include yaml

**To Reproduce**
Try to upload a yaml file - the default filter is not including .yaml extension

**Expected behavior**

.yaml extension in filter list of file selection dialog

**Environment**

 - OS: RHEL 8.x
 - Browser FF 89.0
 - MLX Version a913fd77d75771f25256785c7a9b1fc18f6f146d

[2021-06-16 09:16] romeokienzler opened #102 "status line of component upload dialog hardly readable"
**Describe the bug**
The status line of component upload dialog  (bottom right) is hardly readable

**To Reproduce**
- Upload this [component.yaml](https://github.com/romeokienzler/c3/raw/87e99aeb9e6864694ab7c02524086b3895aa795c/component.tar.gz)
- look at the status line

**Screenshots**

![image](https://user-images.githubusercontent.com/5694071/122192503-00de9180-ce94-11eb-8978-e3ad51697d4c.png

[2021-06-16 16:36] drewbutlerbb4 commented on #95
I have a separate image I was working on for admin routing that I was using. I can't reproduce this issue on my image either so I will close it until/if I am able to reliably reproduce it.

[2021-06-16 17:24] yhwang commented on #91
@ckadner I checked the code in both `ml-pipeline-ui` and `ml-pipeline`. For `ml-pipeline-ui`, it just forwards the apis calls to `ml-pipeline` which contain `kubeflow-userid` header for user id. For `ml-pipeline`, it uses two authenticators to retrieve user id:
- http_header: uses `kubeflow-userid` header
- token_review: uses `authorization` header

So the bottom line is you have to pass `kubeflow

[2021-06-16 17:52] ckadner commented on #100
I will need to take a look at this. In a broader sense, the API should validate the uploaded template and reject malformed YAML or invalid metadata formats.

[2021-06-16 21:09] #91 closed

[2021-06-16 21:58] ckadner commented on #83
I agree, there is a chance we might title-case something unwanted with a forced approach. Maybe we can filter for title/names that are all lower-case with dashes and not contain spaces, or, more strictly, the `name` equals the `id`. To avoid doing something unexpected, maybe the upload UI should force users to add a short given name, and validate that input based on a "title-case filter"?

[2021-06-17 00:37] #94 closed

[2021-06-17 00:37] #101 closed

[2021-06-17 00:41] ckadner commented on #100
Thanks to @drewbutlerbb4 for fixing part of the issue in PR #104

I still need to add some code in the MLX API to validate the YAML structure and return a meaningful error message if something is not right.

Currently we show an error like this, if the YAML is missing required elements:

[2021-06-21 20:30] Tomcli opened #108 "add provider url in the details page for datasets"
**Is your feature request related to a problem? Please describe.**
For the datasets, we want to expose the `provider.url` in the details page and let users to redirect to the developer.ibm.com

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2021-06-22 17:16] ckadner commented on #100
@romeokienzler -- the component you attached here does not cause any errors for me (anymore?). Can you try again on the latest code base?

[2021-06-22 17:25] drewbutlerbb4 commented on #100
@ckadner #104 fixed the error that @romeokienzler was seeing for the UI.

I'm not sure if this component.yaml is invalid? If it is, it passes through the API instead of returning an error to the UI. I think that was @romeokienzler initial point.

[2021-06-22 19:32] #77 closed

[2021-06-22 19:34] ckadner commented on #100
I did not see any errors in the API when I tried it. I had manufactured an error by altering the "inputs" field, to catch/fix the `Upload Error: 'NoneType' object is not iterable` e4145b2

[2021-06-22 19:39] ckadner commented on #100
@drewbutlerbb4 -- what error did you see there then?

[2021-06-23 09:42] romeokienzler commented on #100
https://user-images.githubusercontent.com/5694071/123074964-0f8af280-d418-11eb-987e-0e3db7a8a6b1.mp4

I get the same behavior (see above)

[2021-06-23 16:34] drewbutlerbb4 commented on #100
@romeokienzler what is your setup here? Docker-compose? I can't reproduce this using the nightly build image with docker-compose setup

[2021-06-23 17:22] ckadner commented on #100
@romeokienzler -- in your video, I see the MLX UI still says:

That was before Andrew's fix in PR #104 ([bb69575](https://github.com/machine-learning-exchange/mlx/commit/bb695751df3c54e47b3fb23eaddd63d0985921e7)). Now it should read:

Could you do a `docker compose pull` to get the latest nightly images to be pulled into your Docker Compose stack?

[2021-06-23 19:14] romeokienzler commented on #100
@ckadner @drewbutlerbb4 sorry for the hassle - I did a "git pull" but no "docker-compose pull" - everything is working fine now, thanks a lot!

[2021-06-23 19:14] #100 closed

[2021-06-23 19:32] ckadner opened #111 "Publish MLX API Client to PyPI"
Enable 3rd party applications to interact with the MLX API server.

`pip install mlx-...`

The `MLX` name is already taken on PyPI, so we could decide between:
- [ ] `mlx-client`
- [ ] `mlx-api`
- [ ] `mlx-api-client`
- [ ] `ml-exchange`

@romeokienzler @Tomcli @animeshsingh

[2021-06-23 19:59] ckadner commented on #111
Updated the `api/client/README.md` with instructions to install the MLX API client directly from GitHub

https://github.com/machine-learning-exchange/mlx/blob/main/api/client/README.md#pip-install

[code]

[2021-06-23 20:00] ckadner commented on #111
@romeokienzler -- I updated the [`api/client/README.md`](https://github.com/machine-learning-exchange/mlx/blob/main/api/client/README.md#pip-install) with instructions to install the MLX API client directly from GitHub

[code]

[2021-06-23 21:37] ckadner commented on #111
@romeokienzler -- here are a few commands to test the pip install

[code]

[2021-06-24 18:16] ckadner opened #115 "Revisit `kfp.Client` userid header workaround"
The issue on the `kubeflow/pipelines` repo to track progress for an actual fix is https://github.com/kubeflow/pipelines/issues/5138

_Originally posted by @ckadner in https://github.com/machine-learning-exchange/mlx/issues/114#issuecomment-867224137_

[2021-06-24 18:18] #102 closed

[2021-06-24 22:12] ckadner opened #116 "Create API unittests with Docker Compose"
The MLX API code relies extensively on _"deployed infrastructure"_ like the MySQL database and Minio S3 storage provisioned by Kubeflow Pipelines. Thus it is nearly impossible to test any of the API endpoints in isolation on a local developer notebook.

Since we now have a working MLX Katalog "deployment" with the [Quickstart guide](https://github.com/machine-learning-exchange/mlx/tree/main/quicks

[2021-06-25 17:39] ckadner commented on #88
/assign @srishtipithadia

[2021-06-30 00:27] #72 closed

[2021-06-30 21:55] Tomcli opened #122 "Default multi-user permission cannot create datashim CRs."
**Describe the bug**
The default multi-user permission cannot create some CRDs such as datashim and inferenceserivice. A quick fix can be apply cluster admin to the service account, but for more secure fix we need to patch new permission to the `kubeflow-editor` service account in each user namespace.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll d

[2021-06-30 21:57] Tomcli opened #123 "Model deployment code template cannot change namespace"
**Describe the bug**
Right now the model deployment code template is hard coded to the `anonymous` namespace, we need to make it configurable in order to work in the multi-user environment.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen

[2021-07-01 00:26] ckadner commented on #123
I will hard-code a quick fix to use namespace `"mlx"` until I get a chance to add a new variable to the API

[2021-07-01 00:30] ckadner commented on #123
@Tomcli -- QQ do we still need to use your [custom kfserving `component.yaml`](https://raw.githubusercontent.com/Tomcli/pipelines/35112b8/components/kubeflow/kfserving/component.yaml) here?

https://github.com/machine-learning-exchange/mlx/blob/ef06fa28ffba1cdf22d6dfa4f81fb426f2fc7f0c/api/server/swagger_server/code_templates/serve_kfserving.TEMPLATE.py#L39

It differs only slightly from this one:

[2021-07-01 00:45] Tomcli commented on #123
@ckadner you can use the official one at https://raw.githubusercontent.com/kubeflow/pipelines/master/components/kubeflow/kfserving/component.yaml

just that some parameter mapping needs to be changed.

[2021-07-02 04:55] ckadner commented on #73
FYI @romeokienzler -- Yash is working on a KIND deployment option for MLX

[2021-07-06 17:56] drewbutlerbb4 commented on #95
I have been able to reproduce this issue, although not reliably. I will try and provide as much information as I can on the context.

Steps Followed:
- docker compose pull
- docker compose up
- Navigate using components sidebar button
- Navigate using `register a component` button
- Upload the component yaml that Romeo links in #102

Resulting network requests:
- `upload`
- `publish_approved` OPTI

[2021-07-06 17:56] drewbutlerbb4 commented on #95
Let me know of anything else I can do to help @ckadner

[2021-07-07 19:06] Tomcli opened #128 "Persist sidebar settings into database"
**Is your feature request related to a problem? Please describe.**
Currently, the sidebar settings are stored in the API pod's memory, which means when ever the pod crashed or horizontally scaled, the sidebar settings are having conflict when users refresh their page. We need to store the sidebar settings just like other assets so that it can be resilient with scales and crashes.

[2021-07-07 19:07] Tomcli commented on #128
/assign @ckadner

[2021-07-07 19:08] Tomcli opened #129 "Quickstart pipeline API having problems with stress tests"
**Describe the bug**

@yhwang can you describe the errors that you found?

**To Reproduce**

Steps to reproduce the behavior:
1. Deploy read only MLX at https://github.com/machine-learning-exchange/mlx/pull/126
2. Run stress tests against the MLX pipelines API

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to

[2021-07-07 20:25] yhwang commented on #129
Here is the error message:
[code]

After importing the quickstart catalog, the pipelines url is good. I can see all pipeline cards. The stress test is sending requests to get 2 of the pipeline cards repeatedly. After I ran the test for a while, the `/apis/v1alpha1/pipelines` api started to sending back `500: internal server error` and I saw the error message above in the mlx-api pod. I always star

[2021-07-07 23:23] ckadner commented on #129
Could there have been some pods that crashed? There is a code path in the MLX API that creates the `pipelines` table if it does not exists. That code path was never used since we always find the `pipelines` table already created by KFP or by the init_db.sh script I wrote for the `quickstart` with Docker Compose.

[2021-07-07 23:30] Tomcli commented on #129
@ckadner when I rerun the init_db.sh job, the tables are recreated and everything works fine. But once we ran the stress test again, then the above error will pop up.

[2021-07-07 23:38] ckadner commented on #129
that seems to indicate that the MLX API pod does not find the `pipelines` table and creates it with the wrong column length for the `namespace` column. This should not happen unless there is a new MySQL instance which does not get initialized in time before the first call the the MLX API to `GET` `/apis/v1alpha1/pipelines`

[2021-07-07 23:40] ckadner commented on #129
This may be an instance of inopportune timing due to the stress test scenario. In the Docker Compose setup I made the MLX-API service dependent on the `init_db` service having finished. If we need to support that, I can make changes to the MLX API

[2021-07-08 00:07] yhwang commented on #129
@ckadner I guess the problem is caused by the second or third pod when we scale up the mlx-api. Like I mentioned, we always do the quickstart import when the replicas=1, the 1st pod. Then I scale up the mlx-api to replicas=2 or 3. And this error will show up in 2nd and 3rd pod.

[2021-07-08 00:13] ckadner commented on #129
The 2nd or 3rd replica of MLX-API should be connecting to the same (already initialized) MySQL database though, no?

[2021-07-08 06:41] #129 closed

[2021-07-10 00:31] Tomcli opened #131 "MLX-UI cannot render v1beta1 inference services"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Environment**

 - OS: [e.g. iOS]

[2021-07-10 00:31] Tomcli commented on #131
/assign @drewbutlerbb4

[2021-07-12 19:28] Tomcli opened #132 "Make MAX models work on kfserving and model mesh serve"
**Is your feature request related to a problem? Please describe.**
Currently, we only can access MAX models if we deployed them using Kubernetes deployment. Both kfserving and model mesh won't work for MAX because MAX models are mapped with non-configurable endpoints and needs complex pre/post-processing methods.

**Describe the solution you'd like**
A clear and concise description of what you wan

[2021-07-13 21:40] ckadner opened #133 "Minio dashboard no longer works in quickstart with Docker Compose"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

1. Follow the steps under [/quickstart](https://github.com/machine-learning-exchange/mlx/tree/main/quickstart)
2. Open the URL `localhost:9000` in a browser
3. See error in screenshot below
4. Warning in the `minio` service log

[code]

**Expected behavior**

Minio dashboard should open up

**Screenshots**

[2021-07-13 21:41] ckadner commented on #133
I need to update the [docker-compose.yaml](https://github.com/machine-learning-exchange/mlx/blob/main/quickstart/docker-compose.yaml) file with the Minio console port

[2021-07-13 21:42] Tomcli commented on #133
FYI for kubernetes I'm using the kfp minio image for consistency. https://github.com/machine-learning-exchange/mlx/blob/main/manifests/read-only-k8s/minio.yaml#L48

[2021-07-13 23:22] #133 closed

[2021-07-14 00:21] ckadner opened #137 "Minio setup in Quickstart with Docker Compose may fail"
**Describe the bug**

Run the [/quickstart](https://github.com/machine-learning-exchange/mlx/tree/main/quickstart). Here modified to run without the API. See error `miniosetup_1  | mc: <ERROR> Unable to initialize new alias from the provided credentials`. Even the log goes on to say that the `mlpipeline` bucket was created, in fact it was not.

This error only occurred once in about 50 starts of D

[2021-07-14 00:54] ckadner opened #139 "MLX-API is running on a Flask development server"
Start the MLX-API server locally or inspect the logs of the deployed `mlx-api` pod.

[code]

As the warning suggests, we need to run the `mlx-api` on a production WSGI server:

https://flask.palletsprojects.com/en/2.0.x/tutorial/deploy/?highlight=waitress#run-with-a-production-server

[2021-07-14 03:52] animeshsingh opened #143 "Add delete instructions"
in corresponding deployment pages (compose, kubernetes etc..)

[2021-07-14 03:54] animeshsingh opened #144 "Kubernetes deployement"
It should not be

1. Called "minimal" deployment
2. Only thing missing from default should be KFS (not Datashim)
3. The page should not contain Read only deployment instructions - that should be hidden somewhere else.

[2021-07-15 01:00] ckadner opened #147 "Notebook launch fails with blank screen"
**Describe the bug**

Notebook launch fails with blank screen. Error on the web console:

[code]

Debugging this problem, it seems to be raised by the `NotebookOp` class initialization.

https://github.com/machine-learning-exchange/mlx/blob/350c944f63d5a4581f1db219a3f2be241bedde26/api/server/swagger_server/code_templates/run_notebook.TEMPLATE.py#L26-L43

This change in kfp-notebook causes the erro

[2021-07-15 01:01] ckadner commented on #147
@Tomcli
FYI @ptitzler :-)

[2021-07-15 01:10] ckadner commented on #147
@ptitzler  -- for the missing arguments in our code template

- `pipeline_name` we use the same as in the `@dsl.pipeline(name=...` annotation? https://github.com/machine-learning-exchange/mlx/blob/350c944f63d5a4581f1db219a3f2be241bedde26/api/server/swagger_server/code_templates/run_notebook.TEMPLATE.py#L26-L27
-  `experiment_name` we use `NOTEBOOK_RUNS` like we define later in the code template ht

[2021-07-15 15:24] ptitzler commented on #147
That sounds like the right thing to do!

[2021-07-15 15:26] ptitzler commented on #147
Asa side node, the https://github.com/elyra-ai/kfp-notebook repository will no longer be used starting Elyra 3.x. The code will be merged into the  https://github.com/elyra-ai/elyra repository by https://github.com/elyra-ai/elyra/pull/1918. We need to discuss the implications.

[2021-07-15 23:11] ckadner opened #150 "Pipeline launch fails with error "In single-user mode, ListExperiment cannot filter by namespace""
**Describe the bug**

Reported by @blublinsky

Trying to launch a pipeline from mlx - it brings kubeflow pipelines screen, but execution does not happen.

**Steps to reproduce**

[code]

**Reported Error**

[code]

**Environment**

- MLX single-user on OpenShift

[2021-07-15 23:26] ckadner commented on #150
Investigating this issue we found:

- this is the MLX API code triggering the error: https://github.com/machine-learning-exchange/mlx/blob/380911c797d6f7869fef4fd8a725[…]api/server/swagger_server/gateways/kubeflow_pipeline_service.py
- calling `kfp.Client` `_create_experiment`: https://github.com/kubeflow/pipelines/blob/158d15f92b1ac86fc2ea4eaf48f9b50b5ce4c9ab/sdk/python/kfp/_client.py#L393-L396
-

[2021-07-15 23:33] #150 closed

[2021-07-16 00:27] ckadner commented on #147
@blublinsky

[2021-07-16 17:08] ckadner commented on #150
**Solution**: create `context.json` file in multi-user deployments only #149

[2021-07-16 17:20] #147 closed

[2021-07-16 17:25] #139 closed

[2021-07-16 17:43] ckadner opened #152 "Usability issues with Datasets and Notebooks"
**Describe the bug**

It is not clear how to run notebooks and datasets? There should be a succinct documentation of
- How are notebooks and datasets related
- From a data users can navigate to a notebook, but not vice versa?!
- Need to describe why running a dataset asks for a namespace (-> PVC creation)
- What happens after a Dataset has been "launched"?
- Running a dataset with related asset (n

[2021-07-16 17:58] ckadner commented on #129
The MLX API is not designed to be running with multiple replicas:
- database schema initialization and/or schema verification is done once (and cached) at API startup (this issue)
- API settings are currently file based and stored in the API pod, multiple pods can toggle on/off each others settings (i.e. the Inference Services were either on or off depending on which API instance was chosen, see #

[2021-07-16 19:14] ckadner commented on #152
@drewbutlerbb4 @Tomcli @animeshsingh

[2021-07-16 23:28] ckadner opened #155 "Register assets from UI asks for name but not description"
Should the MLX UI allow to enter a description for assets to be registered?

Currently only a name is required to be entered. Without a description the asset card on the featured assets page looks very empty.

Alternatively, the API can extract the description from the uploaded YAML, if available. This is currently not done for pipelines.

@animeshsingh @Tomcli @drewbutlerbb4

[2021-07-16 23:30] ckadner opened #156 "Newly registered pipeline has no description"
**Describe the bug**

The MLX API is parsing the `description` from the uploaded YAML metadata for most assets, but not yet for `pipelines` (for some legacy reason I can't recall)

/assign @ckadner

[2021-07-17 00:46] ckadner opened #157 "UI does not allow deleting assets"
**Describe the bug (or missing functionality)**

Currently, new assets can be registered using the MLX UI. Existing assets can be un-published and un-featured to effectively disappear, but there is no capability to delete registered assets (for admins).

@drewbutlerbb4

[2021-07-19 06:48] ckadner opened #159 "Browser refresh causes error `Cannot GET /pipelines`"
**Describe the bug**

Clicking browser refresh on the /pipelines pages causes a blank screen showing the error message:

[code]

**To Reproduce**

1. Go to the MLX Web UI of our `openaihub-demo` cluster (see Box note)
2. Click on `Pipelines`
3. Use the browser's `Reload page` button 🔄
4. See MLX UI is replaced by a blank page reading the error `Cannot GET /pipelines`
5. All the other asset types d

[2021-07-19 07:48] romeokienzler opened #160 "Introduce list (table) view in addition to tile view"
**Is your feature request related to a problem? Please describe.**
Tile view not suitable for larger number of managed assets

**Describe the solution you'd like**
Either drop the tile view or add a toggle switch to activate a list / table view with capabilities of:
- sorting
- filtering
- adding/removing properties (columns)
-

**Describe alternatives you've considered**
there are no alternatives

[2021-07-19 07:59] romeokienzler opened #161 "Introduce dynamic, hierarchical metadata for all assets"
**Is your feature request related to a problem? Please describe.**
Currently the number of attributes describing the assets are very limited

**Describe the solution you'd like**
dynamic (customizable), hierarchical metadata for all asset types would solve the issue of searching / sorting the assets.
Dynamic over static attributes has the advantage that without code changes. Hierarchies are import

[2021-07-19 18:14] ckadner commented on #156
This has been recently repprted by @blublinsky

[2021-07-19 18:16] ckadner opened #162 "Notebook registration with dependent files"
MLX currently supports self contained notebooks.

MLX should allow users to upload a set of files along with the notebook metadata YAML like what Elyra is using for notebook definition: a set of Python files, that notebook imports. Or, settings files, requirements.txt, etc

We could store a set of files along with the YAML that is uploaded when a new notebook is registered in Minio. Those files we

[2021-07-19 18:19] ckadner opened #163 "Dataset run fails with 403 error (forbidden)"
**Describe the bug**

Dataset run fails with error:

[code]

Which additional permissions do I need to add to pipeline-runner role?

Reported by @blublinsky

[2021-07-19 18:20] ckadner commented on #163
From @Tomcli

[2021-07-19 22:27] #156 closed

[2021-07-21 00:53] #131 closed

[2021-07-22 00:01] blublinsky commented on #163
Thanks, seems like

[code]

should do

[2021-07-22 00:11] blublinsky commented on #163
So this fixed my original problem, `generate dataset metadata`, but it now fails in `create persistent volume`

[code]

[2021-07-22 17:19] ckadner commented on #163
@Tomcli -- the `create persistent volume` task worked on our `openaihub-demo` cluster still but I recall you mentioned changes needed to be made? Did this change in Datashim?

https://github.com/machine-learning-exchange/katalog/blob/f2eb18ae4924628b2af7671361d71b2bcd3e80c0/component-samples/dlf/src/dataset_manager.py#L56
[code]

For reference this is the line of code that results in a `404`

http

[2021-07-22 17:35] Tomcli commented on #163
404 probably means the crd is not deployed. Since you deployed MLX from base, it won't come with the DLF/Datashim deployment.

To deploy datashim, please follow these instructions.
https://github.com/datashim-io/datashim#quickstart

[2021-07-28 10:00] romeokienzler opened #166 "Add search functionality to UI"
**Is your feature request related to a problem? Please describe.**
When the number of assets grows, it will be hard to find relevant assets

**Describe the solution you'd like**
A wild card search should go over all assets and search through all meta data fields. The search term can be specified using an input field

**Describe alternatives you've considered**
Using the browser's built-in search f

[2021-07-28 13:15] romeokienzler opened #167 "Add extendable filter categories"
**Is your feature request related to a problem? Please describe.**
As of now, MLX can't replicate MAX/DAX as fields in the metadata are missing

**Describe the solution you'd like**
Please add the following meta data field to all asset types:
- `metadata` of type [`JSON`](https://dev.mysql.com/doc/refman/5.7/en/json.html#json-paths)

**Describe alternatives you've considered**
Alternatively, metad

[2021-07-28 17:57] ckadner commented on #160
We have a list view for admins which allows setting assets to be `published` and `featured`. This view should be enhanced to add `delete` and maybe other admin type functions. The list view here is mostly to enable bulk-updates.

For non-admin users a list view does not currently exist. We did not need one yet since we only have a small set of curated assets.

[2021-07-28 17:59] ckadner commented on #160
Adding a `wontfix` label for now to indicate a lower priority. We can tackle this on at a later date.

[2021-07-28 18:07] ckadner commented on #163
I think this was resolved by @blublinsky installing/deploying Datashim as [described above](https://github.com/machine-learning-exchange/mlx/issues/163#issuecomment-885090649) by @Tomcli ?

[2021-07-28 18:08] #163 closed

[2021-07-28 18:17] ckadner commented on #166
The API does support `list_{asset-type}` calls (i.e. `GET` `/models`) with a `filter` and `sort_by` attribute (i.e. `name`, `description`, `created_at`, ...). This also works globally for the entire catalog (`GET` `/catalog`).

The `filter` attribute of the `list_...` call can be used for any sub-string of any of the assets attributes (i.e. `name`, `description`, `created_at`, ...) in a key-value

[2021-07-28 22:45] ckadner commented on #166
@romeokienzler

This would be a little tedious to implement with MySQL only storing a select subset of the metadata uploaded in the original YAML, and Minio not supporting indexed searches on the contents of the files stored in it.

The most feasible implementation would be to search by field, i.e. `name=MAX% created_at>2020` (similar to Github search terms like `is:issue is:open author:romeokienz

[2021-07-28 23:55] ckadner commented on #167
Since we already have `metadata` fields with established structure and meaning for **Components**, **Datasets**, **Notebooks** where the `metadata` child attributes are `annotations`, `labels`, `tags`, I suggest we add that already established `metadata` attribute and structure to the remaining asset types **Models** and **Pipelines**.

The existing `metadata` field is stored as `longtext` in MySQ

[2021-07-29 00:17] ckadner commented on #167
Following the Kubernetes methodology, i.e. https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/ ...

[2021-07-29 00:28] ckadner commented on #167
These are the filter categories I see for MAX models:
https://developer.ibm.com/exchanges/models/all/

**Models**

- Trainable
- Deployable

**Architectures & Deployment models**

- Serverless

**Model Asset Technologies**

- Image Classification
- Audio Classification
- Audio Feature Extraction
- Audio Modeling
- Image Feature Extraction
- Image-to-Image Translation or Transformation
- Image-to-T

[2021-07-29 00:36] ckadner commented on #167
These are the filter categories I find for **DAX Datasets**
https://developer.ibm.com/exchanges/data/all/

**Data Asset Technologies**

- Audio
- Classification
- Computational Argumentation
- Debater
- DevOps
- Document Layout Analysis
- Feature Extraction
- Image
- Show more

**Products & Services**

- DAX - Data Asset eXchange

**Technologies**

- Artificial intelligence

[2021-07-29 00:42] ckadner commented on #167
Both the MAX and DAX filter categories need to be refined as they seem to be somewhat overlapping or vague. The filter categories for https://huggingface.co/datasets are much more concise, like `task`, `language`, `size`, `license`,

[2021-07-29 13:47] romeokienzler commented on #167
Hey @ckadner thanks for this elaboration - fully agree with using something existent if possible, from the documentation it seems that https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/ is (semantically) what we need, but to me it seems "value" can only be of type "string", so when using https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/, it says

[2021-07-29 14:14] romeokienzler opened #168 "UX enhancement for MAX/DAX - restructuring of UI"
**Is your feature request related to a problem? Please describe.**
To serve MAX/DAX, mlx needs some UX enhancements

**Describe the solution you'd like**
- [ ] Join the conversation / Notebooks links are overlapping in Firefox 90.0.2 (64-bit) - RHEL 8.3

![image](https://user-images.githubusercontent.com/5694071/127505562-e9d5c485-8a8c-4d82-ac9f-509b517c52cb.png)

[2021-07-29 23:14] ckadner commented on #168
@drewbutlerbb4 has created PR #169 to add a search field to select featured assets of the same type. A global search is not really useful (at this point) since we don't have a view that shows all catalog assets and users would most likely want to find assets of a certain type

[2021-07-29 23:17] ckadner commented on #166
@drewbutlerbb4 has created PR #169 that does a search/filtering of featured assets of one asset type. That search is not using the API as described above. Instead it filters down from the full list of assets retrieved from the API.

[2021-07-29 23:20] ckadner commented on #161
@romeokienzler -- could you distinguish this requirement from #167

[2021-07-29 23:37] #159 closed

[2021-07-29 23:39] ckadner commented on #167
Labels are used by Kubernetes for queries, watches, for use in UIs and CLIs. Non-identifying information should be recorded using **annotations**.

Annotation values are strings, cannot use numeric, boolean, list or other types. But they can be stringified JSON dictionaries or arrays, string containing comma-separated lists or string-wrapped numbers, etc.

But I don't think that would be an issue

[2021-07-30 05:55] romeokienzler commented on #168
@ckadner thanks for helping out - fully agree - will update the requirement above

[2021-07-30 07:55] romeokienzler commented on #167
As MLX anyway is very tied to Kubernetes/Kubeflow I suggest to go with that solution for now - I think having MLX less tied to Kubenetes/Kubeflow would be a good thing but this is another discussion

The way you've proposed the solution works for our use case and it seems to me that sticking to those standards saves some time on your side as you can re-use existing code/concepts.

[2021-07-30 18:11] ckadner commented on #161
Closing this issue as a close relative (if not duplicate) of #167

Reopen and refine if there are use cases that cannot be addressed in #167

[2021-07-30 18:11] #161 closed

[2021-07-30 19:10] ckadner commented on #167
@singhan suggested to add a new top-level YAML attribute like `categories` instead of using `metadata.annotations` which may not be intuitive to users who are not working with Kubernetes labels and annotations.

Even though the MLX API currently supports the Kubernetes style `metadata` with `labels` and `annotations`, it is not being utilized by the MLX UI except for Notebook. Nor do we use it to

[2021-08-02 10:38] romeokienzler commented on #167
@ckadner we need the latter including n:m mapping, either like this:

[code]
or like this

[code]

or any other feasible means of achieving this requirement

[2021-08-02 10:52] romeokienzler commented on #166
thanks @drewbutlerbb4 and @ckadner will close for now

[2021-08-02 10:52] #166 closed

[2021-08-02 10:55] romeokienzler commented on #160
thanks @ckadner and @drewbutlerbb4 will close for now and update/reopen once needed

[2021-08-02 10:55] #160 closed

[2021-08-02 15:12] romeokienzler opened #171 "Setting assets published/featured is not reflected on featured assets page (UI caching issue)"
**Describe the bug**

Uploaded component can't be published/featured

**To Reproduce**
1. checkout 5422d23f1f2ea9297081d5b081e7197f196fc388
2. start "quickstart"
3. upload [component](https://github.com/romeokienzler/c3/blob/96112fab10c43f387ededf6abfadcc5393b40083/test_component.yaml) via [API](https://github.com/romeokienzler/c3/blob/96112fab10c43f387ededf6abfadcc5393b40083/src/mlx/publish.py)
4

[2021-08-02 17:33] ckadner commented on #171
@romeokienzler -- can you try, if you open a new Private Window, your selection of featured/published assets should show correctly?

@drewbutlerbb4 -- I think this related to the recently added caching at the UI level. Could we add a switch to disable it?

[2021-08-02 17:40] ckadner commented on #171
### Workarounds:

Either:
1. Open the MLX UI in a Private window -- a new window after each change like setting an asset published/featured
2. Delete the UI cache from you web browser developer console:
  Storage > key: `mlx-cache-http://localhost:8080/apis/v1alpha1/pipelines`

[2021-08-02 17:46] ckadner commented on #167
For assets that tick more than one checkbox in a given category, it would look like either of these:

[code]

[code]

[2021-08-02 20:06] romeokienzler commented on #171
@ckadner I confirm that opening a new private window or deleting the cache works as workaround

[2021-08-02 20:14] romeokienzler opened #172 "Component detail view not rendering (wheel turning)"
**Describe the bug**

Component detail view not rendering (wheel turning)

**To Reproduce**
1. open component detail view

**Expected behavior**

detail view showing up

**Screenshots**

https://user-images.githubusercontent.com/5694071/127918262-d4255f8c-e448-48e9-b578-520ca69a7f13.mp4

**Environment**

 - OS: RHEL 8.3
 - Browser FF 90.0.2
 - MLX Version 5422d23f1f2ea9297081d5b081e7197f196fc388

[2021-08-02 20:17] romeokienzler commented on #167
Thanks @ckadner - both are perfectly fine

[2021-08-03 00:06] ckadner commented on #171
I forgot @drewbutlerbb4 actually included a cache invalidation button in the admin settings

<img width="956" alt="Screen Shot 2021-08-02 at 5 05 15 PM" src="https://user-images.githubusercontent.com/12246093/127938154-71da7559-a76e-4e3d-b4cb-39217eb7c545.png">

[2021-08-03 22:59] ckadner commented on #172
Our [mlexchange/mlx-api:nightly-main](https://hub.docker.com/r/mlexchange/mlx-api/tags?page=1&ordering=last_updated) and [mlexchange/mlx-ui:nightly-origin-main](https://hub.docker.com/r/mlexchange/mlx-ui/tags?page=1&ordering=last_updated) images had not been built and pushed to DockerHub during the past 3 weeks as we ran out of Travis credits.

I just pushed both images with the latest code. Can y

[2021-08-03 23:10] ckadner opened #173 "Quickstart catalog init fails occasionally"
**Describe the bug**

When running the Quickstart with Docker Compose, the `catalog` initialization occasionally fails when the `miniosetup` does not complete before the `catalog_init.sh` script starts.

This is because the `miniosetup` depends on `minio` to be healthy, but the `minio` `healthcheck` only runs every `30s` and that 30 second delay takes to long for the impatient `catalog` service wh

[2021-08-04 00:13] #173 closed

[2021-08-06 22:00] blublinsky opened #176 "Integration of notebooks resources with JupyterLab"
**Is your feature request related to a problem? Please describe.**
It is often desirable to run notebooks contained in MLX in JupyterLab

**Describe the solution you'd like**
Have one click deployment from MLX to the JupyterLab

**Describe alternatives you've considered**
Manual upload of notebook to JupyterLab and run !pip install requirements.txt

**Additional context**
Add any other context or

[2021-08-10 16:40] ckadner commented on #167
@drewbutlerbb4 -- https://hub.tekton.dev/ here has a nice way of pulling out categories into a left-hand side filter menu

[2021-08-10 19:36] ckadner commented on #167
@kmh4321

[2021-08-12 20:13] ckadner commented on #167
@blublinsky

[2021-08-18 00:00] #171 closed

[2021-08-18 00:04] #172 closed

[2021-08-21 22:46] ckadner opened #189 "[API] Fails to start up with `FileNotFoundError: '/usr/src/app/swagger/swagger.yaml'`"
**Describe the bug**

The latest `mlx-api` image fails to start up due to this error:

`FileNotFoundError: [Errno 2] No such file or directory: '/usr/src/app/swagger/swagger.yaml'`

**To Reproduce**

Follow the Quickstart guide or deploy the latest `mlx-api:nightly-main` to your MLX cluster.

**Expected behavior**

The Swagger spec should be found under the `swagger_server` module directory:
- `'/

[2021-08-22 05:00] ckadner opened #191 "Cannot list pipelines without a filter predicate (regression after #183)"
**Describe the bug**

- The pipelines page on the MLX UI does not show any pipelines with a `500 INTERNAL SERVER ERROR`.
- The Swagger API endpoint `GET` `/pipelines` returns error `"TypeError: argument of type 'NoneType' is not iterable"`

**To Reproduce**

List `pipelines` or `catalog` without specifying a filter attribute(`filter=None`) either via the API directly (Swagger UI or `cURL`) or usin

[2021-08-22 19:46] ckadner commented on #143
- Quickstart with Docker Compose always had delete instructions
- Tommy did add delete instructions to the Kubernetes deployment doc [MLX Deployment on Kubernetes or OpenShift](https://github.com/machine-learning-exchange/mlx/blob/main/docs/mlx-setup.md#delete-the-mlx-deployment)
- @Tomcli can you also add a "Delete ..."  paragraph in [Deploy MLX on an Existing Kubeflow Cluster](https://github.com

[2021-08-22 19:46] ckadner commented on #144
@Tomcli -- I think this is done, no?

[2021-08-22 19:49] ckadner commented on #95
Hi @drewbutlerbb4 -- I have been trying to reproduce this without luck. Could this have been a issue with concurrent requests or maybe related to caching?

[2021-08-22 19:53] #189 closed

[2021-08-22 19:59] #191 closed

[2021-08-23 14:52] drewbutlerbb4 commented on #95
I'm not sure, it has been very infrequent for me. I have not seen it again since July 6th. I do not believe it is caching because the original PR for caching in the UI was [July 13th](https://github.com/machine-learning-exchange/mlx/pull/130) a month after this was reported (and I believe the API caching was implemented at a similar time?). Not sure on concurrent requests. To be honest, I'm not su

[2021-08-24 16:13] romeokienzler commented on #167
@ckadner please reopen as discussed

[2021-08-24 16:14] Tomcli commented on #167
/reopen

[2021-08-24 16:14] romeokienzler commented on #167
@drewbutlerbb4 please add your pr to this issue

[2021-08-24 16:15] ckadner commented on #167
@drewbutlerbb4 is still working on the UI part of this

[2021-08-31 17:00] ckadner opened #194 "@drewbutlerbb4 is still working on the UI part of this"
@drewbutlerbb4 is still working on the UI part of this

- [ ] Add the `filter_categories` item values (not keys) to the featured asset cards
- [ ] Include `filter_categories` item values in fuzzy search on the UI

_Originally posted by @ckadner in https://github.com/machine-learning-exchange/mlx/issues/167#issuecomment-904782284_

[2021-08-31 17:00] ckadner commented on #194
@romeokienzler

[2021-08-31 17:16] ckadner commented on #168
#184

[2021-09-01 18:19] ckadner opened #197 "Cannot build MLX API (since Aug 30, 2021)"
**Describe the bug**

MLX-API Build Error due to changes in upstream dependency [`google-crc32c==1.1.3`](https://pypi.org/project/google-crc32c/1.1.3/) starting Aug 30: https://github.com/googleapis/python-crc32c/issues/83

[code]

**Additional information:**

`pip` package dependencies chain (generated by `pip-compile`, after temporarily removing some conflicting packages)

[code]

[2021-09-01 18:22] ckadner commented on #197
https://github.com/googleapis/python-crc32c/issues/83

[2021-09-01 18:31] ckadner opened #198 "Small navigation improvements"
Follow-up to #184

- [ ] let the "Join the Conversation" link sit at the bottom for non-admins, and push it up with the padding you have here for logged-in admins
- [ ] align the left side of the word "Conversation" with "Join" in the line above

_Originally posted by @ckadner in https://github.com/machine-learning-exchange/mlx/issues/184#issuecomment-910549650_

@drewbutlerbb4

[2021-09-02 17:13] ckadner opened #201 "Add the new "MAX Entity Tagger" to `catalog_upload.json` and in katalog README"
We still need to add/reference the new **MAX Entity Tagger** in a few places:
- [x] MLX bootstrapper and quickstart (#200)
- [ ] katalog repo landing page README (machine-learning-exchange/katalog#50)

_Originally posted by @ckadner in https://github.com/machine-learning-exchange/katalog/issues/21#issuecomment-911893831_

[2021-09-03 19:17] ckadner opened #202 "[UI] Failed to retrieve list of pipeline experiments"
**Describe the bug**

In the MLX UI, Pipelines, clicking on "**View Experiments**" shows `Error: failed to retrieve list of experiments`.

**To Reproduce**

Steps to reproduce the behavior:
1. Run a pipeline
2. Go back to featured pipelines
3. Click on "View Experiments"
4. See error

**Expected behavior**

List of previously run pipelines (experiments)

**Screenshots**

<img width="500" alt="Scre

[2021-09-03 19:20] ckadner commented on #202
@drewbutlerbb4 @Tomcli -- I supposed we need to specify the `kubeflow` namespace here? Or the logged in admin/mlx user's?

[2021-09-04 23:23] #197 closed

[2021-09-09 21:40] ckadner opened #207 "[UI] Unpublished assets should not be accessible anonymously"
**Describe the bug**

After an admin unpublished an asset (unchecks the boxes for featured and published), the direct access link should no longer work for unauthenticated users (private browser, not logged in).

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Datasets, select one, i.e. "Finance Proposition Bank"
2. In the browser URL, you will find the direct access link: https://<mlx

[2021-09-09 21:54] ckadner opened #208 "Upload Error: Please Retry - "DataError: 1406 (22001): Data too long for column 'Description' at row 1""
**Describe the bug**

Trying to upload an asset with a `description` of longer than 255 characters will throw error:

[code]

**Possible solutions**

1. Change datatype in MySQL to `longtext` instead of `varchar(255)` (already done for pipelines)
2. Trim the description to 254 characters and append the ellipsis character (`…`) at the end

Option 2 would be beneficial to keep the UI featured cards

[2021-09-10 00:54] ckadner opened #209 "API should reject asset upload when `id` contain invalid characters"
**Describe the bug**

For example, uploading a dataset YAML with `id: codenet_langclass` will cause issues when the PVC is created for that dataset later on, since Kubernetes resource IDs cannot contain underscore (`_`) characters (among others).

DataShim response when running the PVC mounting pipeline for a dataset with `id: codenet_langclass`:
[code]

**Additional information:**

The actual `id

[2021-09-13 23:52] ckadner commented on #157
@Tomcli

[2021-09-14 00:08] ckadner commented on #157
@drewbutlerbb4 -- if you find some time, could you add a delete button on the VIEW ALL pages. Either delete button on every row, or, we would use the checkboxes in combination with a single delete button

[2021-09-14 00:26] ckadner opened #211 "Add ability to bookmark pipelines"
We use IDs for direct access links to our assets. But pipeline IDs are generated by KFP (outside our control). So the URLs for the same pipeline on different MLX instances are different. And if on and the same pipeline gets deleted and re-uploaded, it will have a different ID. This presents a problem when users want to include links to pipelines on MLX in presentations, articles, blog posts, Githu

[2021-09-14 18:22] ckadner opened #212 "Add `id` field to notebook YAML"
Currently the notebook YAMLs do not have an `id` or `notebook_identifier` field. This makes it hard to reference a notebook as a `related_asset` from other assets, like datasets.

Related issues:
- [ ] machine-learning-exchange/katalog#35

[2021-09-15 20:08] Tomcli opened #213 "Add server stand up test as part of MLX CI"
Hi @ckadner sorry I didn't have time to recompile the server for every PR. Right now our CI is only catching build errors but we don't have any test to catch runtime errors. Maybe we can add a simple test just to start the server to make sure nothing is crashing the server startup? This way we don't accidentally merged critical bugs that crashes our server startup.

_Originally posted by @Tomcli i

[2021-09-15 20:19] ckadner commented on #213
@Tomcli -- so our PR builder could do this for API code changes:

- build a new API docker image, push it
- pull the new image image
- start the new image
- upload the catalog via curl, check response code
- get the catalog, check response code, check number of assets is greater 0

Besides that, I still need to create unit tests from the examples I usually run as a manual test

Related: #116

[2021-09-15 20:29] Tomcli commented on #213
I was more thinking of a simple test just start the server in a Github Action, so we don't get a crashing image in our latest build. The docker compose test is nice to have, but I'm not sure can github action able to handle that many workloads.

[2021-09-15 20:34] Tomcli opened #214 "Test new bot token"

[2021-09-15 20:34] Tomcli commented on #214
/assign

[2021-09-15 20:34] Tomcli commented on #214
/close

[2021-09-15 20:34] #214 closed

[2021-09-15 20:37] ckadner commented on #213
starting the image after building it should be a good start -- that does not need Minio or MySQL

[2021-09-15 21:19] ckadner opened #215 "[UI] Move Copyright notice to bottom of page"
Currently the copyright notice is hanging out in the middle of the screen under the featured assets cards.

It would look better if those 2 lines could hug the bottom of the frame.

<img width="1382" alt="Screen Shot 2021-09-15 at 2 15 38 PM" src="https://user-images.githubusercontent.com/12246093/133510939-5b3efcf3-57be-4435-b1cf-124489cead01.png">

[2021-09-21 01:01] ckadner commented on #108
@Tomcli -- Given the DAX integration work with READMEs for each dataset, addressing this issue may no longer be necessary. Should we close it?

[2021-09-21 16:58] ckadner opened #218 "Add Qiskit notebooks to `catalog_upload.json` files"
We added two Qiskit notebooks to the katalog repo but we still need to add/reference them in our bootstrapper and Quickstart and add them to the katalog README:

- [x] MLX bootstrapper and quickstart (#200)
- [ ] katalog repo landing page README (machine-learning-exchange/katalog#50)

**Related issues:**

- [x] machine-learning-exchange/katalog#36
- [x] #201

[2021-09-23 19:25] ckadner opened #220 "Update the bootstrapper after adding MAX READMEs"
@ckadner - update the https://github.com/machine-learning-exchange/mlx/blob/main/bootstrapper/catalog_upload.json after merging this PR? The model YAML paths will be changed

_Originally posted by @Tomcli in https://github.com/machine-learning-exchange/katalog/issues/40#issuecomment-925433645_

[2021-09-23 22:06] ckadner opened #222 "Address caveats katalog update script"
I will address (some of) the current caveats listed above in a separate PR:

- [ ] move script from /hack to /tools/python
- [ ] add developer documentation
- [ ] clone the `katalog` repo into a temp directory instead of relying on the user to have done it prior to running the script
- [ ] not all of the YAML files in the `katalog` repo may want to be included in the catalog upload, so alert the u

[2021-09-23 22:08] ckadner commented on #220
Resolved by #200

[2021-09-23 22:08] #220 closed

[2021-09-24 19:56] #201 closed

[2021-09-24 19:56] #218 closed

[2021-09-24 20:53] Tomcli opened #226 "[UI] Errors when README file is pointing to the wrong link."
**Describe the bug**
When the yaml readme url doesn't exist or pointing to the wrong link, it shows the below error
<img width="1678" alt="Screen Shot 2021-09-24 at 1 50 46 PM" src="https://user-images.githubusercontent.com/10889249/134738384-45baeba0-5eb1-480a-8275-407073716717.png">

We need to render the old description if the readme link  is not valid.

**To Reproduce**

Steps to reproduce the

[2021-09-24 20:53] Tomcli commented on #226
/assign @drewbutlerbb4

[2021-09-24 20:54] Tomcli commented on #226
to reproduce, pick one of the model yaml and change the link to an invalid link.

[2021-09-25 00:31] ckadner commented on #226
Thanks @Tomcli -- this is a good hole to plug, especially when URL go out of date.

I added an issue to help keep URL working: https://github.com/machine-learning-exchange/katalog/issues/43

However, we also need to give the user who uploaded the YAML some feedback on an invalid `readme_url` to not let a typo in the URL get unnoticed

[2021-09-28 21:20] BluThaitanium commented on #215
Checked out issue and PR'd

[2021-09-28 21:50] ckadner commented on #209
Related issue: CODAIT/exchange-metadata-converter#2

[2021-09-28 23:03] vedantgannu commented on #209
I can look into this

[2021-09-28 23:58] Prasantacharya commented on #198
I can work on this issue @ckadner

[2021-09-29 16:09] BluThaitanium commented on #93
I'll checkout this task

[2021-09-29 16:53] Zachary-Fernandes commented on #207
@ckadner I would like to work on this issue.

[2021-09-29 17:28] #215 closed

[2021-10-02 22:16] smoleyxd commented on #212
I can look into this

[2021-10-05 00:26] ckadner commented on #212
@JAulet -- I added some more info in the description.

[2021-10-09 01:04] ckadner commented on #209
@vedantgannu -- I updated the description of this issue with more details and a proposed fix. Let me know if you have any questions. Thanks!

[2021-10-12 16:28] ckadner opened #234 "Find a way to auto-renew ingress TLS cert from IBM Cloud"
To make sure the `/lgtm` bot works properly.

We are using the free ingress TLS cert from IBM Cloud. That cert has to be renew manually for every 3 months.

_Originally posted by @Tomcli in https://github.com/machine-learning-exchange/mlx/issues/223#issuecomment-941160031_

[2021-10-12 17:00] ckadner opened #235 "Add ModelMesh support"
### ModelMesh Integration:

- [x] API #242
- [x] Deployment Manifests
- [ ] UI

[2021-10-14 19:18] ckadner commented on #78
I don't think we need a new page. Just a logout button should suffice. Or, as a quick(er)-fix, we could just implement a "`Route`" (?) instead of a whole page. Meaning, if a logged-in admin user appends "/logout" in the browser's URL to trigger the logout.

[2021-10-16 00:16] ckadner commented on #235
@drewbutlerbb4 -- could you add some details above with respect to the changes you are planning to make, i.e. new API endpoints, deprecated/removed old APIs, etc.  Thanks!

[2021-10-16 00:24] ckadner opened #236 "Allow catalog upload via URL instead of catalog_upload.json file"
Currently the the `/catalog` API allows to upload a JSON file to initialize the MLX asset catalog. This made it necessary to create a custom bootstrapper Docker image with a configmap with the JSON file contents, as well as a duplicate `catalog_upload.json` file for the Quickstart with Docker Compose.

A new `/catalog/upload_from_url` API endpoint that can take a URL to the `catalog_upload.json` f

[2021-10-16 00:28] ckadner opened #237 "Catalog upload API should allow all uploaded assets to be published and featured"
Add parameters to the `/catalog` upload API to automatically set the uploaded assets to be `featured` and `publish_approved`.

[2021-10-16 00:30] ckadner commented on #237
@drewbutlerbb4 -- when the UI does the catalog upload, there is a progress bar that seems to indicate the `catalog_upload.json` file content is broken down into individual asset uploads? If so, would it be easy to also call the `publish_approved` and `featured` API endpoints from the UI?

[2021-10-19 18:26] ckadner commented on #111
@ptitzler -- let me know if/when you will need to use a MLX API Client SDK for pulling MLX assets into Elyra. I think using a Python SDK rather than using the REST API endpoints would be preferable.

[2021-10-19 19:47] romeokienzler opened #240 "Document C3 (Claimed Component Compiler) and link to MLX documentation"
@ckadner please assign to myself

[2021-10-20 08:48] romeokienzler opened #243 "Create CodeNet classificatoin pipeline (romeo)"
@ckadner please assign to myself

[2021-10-22 18:25] Tomcli opened #244 "Error when running notebook: No module named 'kfp_notebook'"
**Describe the bug**
Deploy the latest MLX API on top of Kubeflow and run any notebook. The above module is missing. Did Elyra updated something to the kfp_notebook module?

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots*

[2021-10-25 23:00] #244 closed, assigned to nobody

[2021-10-27 19:03] BluThaitanium opened #249 "Generating Licensing Headers do not work on Ubuntu Linux"
**Describe the bug**
Running `./hack/add_license_headers.sh` returns:
[code]
@ckadner

[2021-10-29 17:13] ckadner opened #253 "[UI] Get the namespace from the user info for run iFrame"
When we support multiple users in the future, beyond `admin` and unauthenticated users, we will need to get the namespace from the user info for the Pipeline Run and View Experiments iFrame

https://github.com/machine-learning-exchange/mlx/blob/bbcf7e1d99db97330471d22bcc8789b21dd92a70/dashboard/origin-mlx/src/App.tsx#L69-L70

_Originally posted by @ckadner in https://github.com/machine-learning-ex

[2021-11-03 17:23] Zachary-Fernandes commented on #157
@ckadner I can work on this.

[2021-11-03 20:33] ckadner commented on #249
Closed by #250

[2021-11-03 20:33] #249 closed

[2021-11-03 22:10] JAulet opened #254 "Generating API doesn't work on WSL/Ubuntu"
**Describe the bug**

./generate_code.sh gives errors on WSL
[code]

@ckadner

[2021-11-08 18:39] ckadner commented on #254
Hi @JAulet please check out PR #255 for a fix.

[2021-11-08 19:48] #202 closed

[2021-11-08 19:48] ckadner commented on #202
Thanks @yhwang for fixing this issue in PR #252

[2021-11-08 20:02] #254 closed

[2021-11-09 18:39] #237 closed

[2021-11-10 20:52] ckadner opened #258 "Consolidate UI developer docs"
There are currently 2 documents that contain UI developer content:
* [dashboard/origin-mlx/README.md](https://github.com/machine-learning-exchange/mlx/blob/main/dashboard/origin-mlx/README.md)
* [https://github.com/machine-learning-exchange/mlx/blob/main/dashboard/origin-mlx/developer-guide.md](https://github.com/machine-learning-exchange/mlx/blob/main/dashboard/origin-mlx/developer-guide.md)

The

[2021-11-15 21:10] ckadner opened #260 "CodeNet notebook broken after tensorflow image update to 2.7.0"
**Bug Description:**

The [CodeNet Language Classification](https://ml-exchange.org/notebooks/project-codenet-language-classification/) notebook fails with error `AlreadyExistsError` after [`tensorflow/tensorflow:latest`](https://hub.docker.com/layers/tensorflow/tensorflow/latest/images/sha256-31e09cf438a41f12c759cc8cc79c6b0fbb0db5abfc3de8169e916c8c9ac38dc5?context=explore) image moved to version

[2021-11-15 21:45] #260 closed

[2021-11-16 23:51] ckadner opened #261 "Self-referential links dont work in markdown view"
Self-referential links (jumping to another section inside the same document) are not working when displaying the Github READMEs for models and datasets in the MLX UI (using the `npm` package [`react-markdown`](https://www.npmjs.com/package/react-markdown))

i.e.  https://ml-exchange.org/models/codenet-language-classification#deploy-on-red-hat-openshift

I believe @drewbutlerbb4 had tried to make t

[2021-11-23 03:02] Zachary-Fernandes opened #263 "Selected assets show up selected across different menus"
**Describe the bug**

When someone selects some assets from one menu displaying all assets of one type and then enters a menu displaying all assets of a different type, it will say there are selected assets of that type when none are currently selected in that menu.

**To Reproduce**

The below steps use datasets and pipelines as example asset types, but this can occur across any asset types.

Ste

[2021-11-30 17:35] ckadner commented on #263
Interesting observation @Zachary-Fernandes! Since you worked on this recently, did you find out why this happens? Some state that does not get cleared when navigating away from the page?

[2021-11-30 17:58] ckadner commented on #152
Add Troubleshooting for `403` error when trying to "Run" a Dataset:
- by default, Kubeflow cannot deploy any CRD resource on the cluster
- need to patch the cluster with:
[code]

@yhwang -- thanks for reporting that

[2021-11-30 18:08] ckadner opened #269 "Document required cluster permissions to create CRDs"
**Describe the bug**

When trying to "Launch" a Dataset which attempts to create a PVC, users may get a `403` error, since, by default Kubeflow cannot deploy any CRD resource on the cluster.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'Datasets' and select a Dataset
2. Select the "Launch" tab
3. Fill in a "Namespace", i.e. `kubeflow` or `mlx`
4. Click "Submit"

**Expected behavior

[2021-11-30 18:16] ckadner opened #270 "Create deployment manifests for KIND"
We currently use this: https://github.com/IBM/manifests/pull/33

We should move it to `manifests/kind` in this repo.

Thanks @Tomcli for working on that!

[2021-11-30 18:18] yhwang commented on #269
you would see log messages similar to this:
[code]

[2021-11-30 18:22] ckadner opened #271 "Add new env var to single-user (standalone) deployments"
We need to add the new env var `REACT_APP_KFP_STANDALONE=true` to our single-user deployments
- manifests (branch `mlx-single-user`)
- the new KIND deployment (#270)

[2021-11-30 18:22] ckadner commented on #271
FYI @yhwang

[2021-12-01 22:06] ckadner commented on #271
https://github.com/IBM/manifests/pull/33/files#diff-929fbbed896e757450f76f8b5ea18989886a9be87b7a78326a4318029711b645R29

[2021-12-01 23:09] JAulet opened #274 "API Development with Docker Compose Shows Wrong UI Port"
**Describe the bug**

When following the api README for development and bringing up Docker Compose, it gives this message at the end:

[code]

This implies that you should go to http://localhost:3000 in your browser to view the UI when in reality, you must go to http://localhost:80

FYI @ckadner

[2021-12-01 23:29] ckadner commented on #274
Good catch Joshua. Would you mind working on a fix?

[2021-12-02 00:49] #236 closed

[2021-12-02 20:34] #73 closed

[2021-12-03 22:18] #274 closed

[2021-12-09 23:53] #157 closed

[2021-12-10 00:14] #198 closed

[2022-01-14 00:45] Tomcli opened #286 "Current limitations for auto-generated pipelines for component"
**Is your feature request related to a problem? Please describe.**
Here is the list of limitations for the current code generation:
1. Description is required in MLX, but optional in KFP
2. MLX only can pass parameters as string type. If KFP component has non-string type, the pipeline will have type errors in the arguments.
3. Component parameter names need to be sanitized as Python variable. (htt

[2022-01-14 00:46] Tomcli commented on #286
I think 3 and 4 should be easier to fix. 1 and 2 is nice to have but could be difficult to cover all the edge cases.

[2022-01-14 00:54] Tomcli commented on #286
/cc @ckadner

[2022-01-19 20:58] ckadner opened #289 "Add API endpoints for asset versioning"
In order to enable versioning of the assets in the MLX catalog, we need to add additional API endpoints.

## Existing API Endpoints (i.e. for `components`)

    /components
      GET
      POST
    /components/{id}
      GET
      DELETE
    /components/{id}/download
      GET
    /components/{id}/generate_code
      GET
    /components/{id}/run
      POST
    /components/{id}/templates
      GET

[2022-01-19 20:58] ckadner commented on #289
@Tomcli @animeshsingh

[2022-01-25 19:31] ckadner opened #290 "Enable KIND for MLX Development Setup"
Enable the KIND deployment to be used for MLX API and UI development

[2022-01-29 00:16] RRM123 opened #291 "Codegen fails on Windows Git Bash"
**Describe the bug**

Ran generate_code.sh bash script on Windows Git Bash terminal and a failure was raised.

**Expected behavior**

Code gen should run to completion.

**Environment**

 - OS: Windows
 - MLX Version: 0.1.0

[2022-01-29 00:16] RRM123 commented on #291
FYI @ckadner

[2022-01-29 00:50] #291 closed

[2022-02-02 00:21] ckadner commented on #261
https://remarkjs.github.io/react-markdown/

[2022-02-02 00:21] ckadner commented on #261
@RRM123

[2022-02-02 18:57] ckadner commented on #235
@Tomcli -- do you remember if there was any outstanding work to be done on the ModelMesh integration for the API and for deployment manifests? What did we decide to do about UI integration?

[2022-02-02 22:26] ckadner commented on #88
Closed by https://github.com/machine-learning-exchange/katalog/pull/14

[2022-02-02 22:26] #88 closed

[2022-02-03 05:15] rafvasq opened #293 "Broken link and curl cmd in Kubernetes deployment prerequisites"
Under [prerequisites](https://github.com/machine-learning-exchange/mlx/blob/main/docs/mlx-setup.md#prerequisites), the link to OpenShift cluster documentation is broken while the curl command returns `Not Found%`.

[2022-02-04 21:27] ckadner commented on #261
Thanks @RRM123 for picking this one up

[2022-02-07 22:09] ckadner commented on #293
Thanks Rafael, for identifying the dead link.

@Tomcli @yhwang -- I assume this should be the updated link to create OpenShift clusters on the IBM Cloud: https://cloud.ibm.com/docs/openshift?topic=openshift-openshift_tutorial

[2022-02-07 22:57] ckadner commented on #261
Hi Rithik,

I got the internal links working in our Markdown descriptions by adding the [`rehype-slug`](https://github.com/rehypejs/rehype-slug#what-is-this) plugin to the `ReactMarkdown` component (in addition to the `react-gfm` plugin to render Github-flavored Markdown). The [`rehype-slug`](https://github.com/rehypejs/rehype-slug#what-is-this) plugin generates `id` tags for headings just like Gi

[2022-02-08 01:45] yhwang commented on #293
@ckadner your link is correct.

[2022-02-09 18:15] #293 closed

[2022-02-11 17:27] rafvasq opened #295 "Accessing MLX UI - Default Page"
Regarding **1.** After deploying on a Kubernetes cluster, the MLX UI was available at `http://<cluster_node_ip>:30380/mlx`, not `/os` which is also consistent with the [Deploy MLX on an existing Kubernetes cluster](https://github.com/rafvasq/mlx/blob/main/docs/mlx-setup.md#prerequisites) doc.

[2022-02-11 18:50] ckadner commented on #295
Good catch @rafvasq

Could you create a PR to update the README and the [`dashboard/origin-mlx/mlx-ui.yaml`](https://github.com/machine-learning-exchange/mlx/blob/main/dashboard/origin-mlx/mlx-ui.yaml) to replace `/os` with `/mlx`

https://github.com/machine-learning-exchange/mlx/blob/c24c2ed4dca89ec6d5018c88e0f7308a62a6114a/dashboard/origin-mlx/mlx-ui.yaml#L41

https://github.com/machine-learning

[2022-02-15 23:00] ckadner commented on #261
@RRM123 -- did you get a chance to try out the `MarkdownViewer` changes?

[2022-02-16 18:44] ckadner opened #299 "MLX API build is broken"
**Describe the bug**

The Docker image for the MLX API is not building currently:

https://github.com/machine-learning-exchange/mlx/runs/5219524273?check_suite_focus=true#step:7:967

[code]

[2022-02-16 18:59] ckadner opened #300 "Create a Docker image to run notebooks"
Currently we use `tensorflow/tensorflow:latest` or (`tensorflow/tensorflow:2.7.0` and `tensorflow/tensorflow:2.3.0`) to run our notebooks inside a Kubeflow Pipeline.

However, that image is very large and laden with many dependencies, many of which are not required for the respective notebooks. Due to those many dependencies, `apk` packages, binaries, and Python packages, the Docker image frequent

[2022-02-16 19:25] ckadner opened #301 "sed command in helper scripts breaks on some platforms"
The `sed` command is used in many of our helper scripts. However `sed` preinstalled on `macOS` is not `POSIX` compliant (works differently than on most Linux distributions). But testing for the OS on which the script is being run on is not a good proxy to find out which version of `sed` is going to be available since `macOS` users can easily reinstall it (Homebrew, symlink, ...). On top of that, s

[2022-02-19 00:50] #299 closed

[2022-02-21 00:46] krishnakumar27 commented on #301
@ckadner  I can look into this..

[2022-02-21 21:46] rafvasq opened #304 "Broken Link and Documentation in mlx-install-with-kubeflow"
Referring to the [MLX Deployment on Kubernetes or OpenShift (Asset Catalog and Execution Engine)](https://github.com/machine-learning-exchange/mlx/blob/main/docs/mlx-install-with-kubeflow.md):

1. Link to Openshift cluster documentation is incorrect, similar to #293.

2. The reference to the latest `kfctl` release also needs to be fixed:

[2022-02-22 00:19] ckadner commented on #301
Thanks @krishnakumar27 -- let me know if you need more information

[2022-02-22 02:32] ckadner opened #305 "Replace `kfp-notebook`/`elyra-server` with a KFP component to run notebooks"
**Current State:**

We currently depend on the `elyra-server` package with the `ExecuteFileOp` to run notebooks in a Kubeflow Pipeline. While that works fairly well and provides much flexibility, there are some drawbacks.

**The Problem:**

One of the biggest drawbacks are the Python packages that are required by `elyra`, most of which are not essential to generate the pipeline code to run the not

[2022-02-24 18:49] #209 closed

[2022-02-24 21:18] ckadner opened #308 "Release checklist v0.2.0"
**Outstanding work items before cutting the `v0.2.0` release:**

- [x] Upgrade MLX-API Python dependencies, upgrade to `kfp-tekton` v`1.1.1` @ckadner
- [ ] Update deployment manifests @Tomcli @yhwang
- [ ] ...

[2022-02-25 23:31] #261 closed

[2022-03-01 23:11] Tomcli commented on #308
@ckadner I tested with pipelines and MLX works fine. We can cut the 0.2 branch and cherry pick new changes as we need to. This should let you start merging the new APIs for MLX

[2022-03-01 23:13] Tomcli commented on #308
I cut a new branch here. Any bugs fixes can version change can go to here
https://github.com/machine-learning-exchange/mlx/tree/v0.2.0

[2022-03-01 23:50] ckadner commented on #308
Thank you @Tomcli

You checked off `Create a new manifest patch to add the v0.2.0 version` -- Did you have to make any changes or check it off because there are no required changes?

[2022-03-02 00:18] Tomcli commented on #308
i added this pr, main branch should keep using the nightly tag
https://github.com/machine-learning-exchange/mlx/pull/309/files

[2022-03-02 18:47] rafvasq opened #310 "MLX Contribution Documentation"
### [MLX Contributing](https://github.com/machine-learning-exchange/mlx/blob/main/CONTRIBUTING.md):
- [ ] Include link to [Web UI documentation](https://github.com/machine-learning-exchange/mlx/blob/main/dashboard/origin-mlx/README.md)
- [ ] Include link to [API documentation](https://github.com/machine-learning-exchange/mlx/blob/main/dashboard/origin-mlx/README.md)

[2022-03-02 21:07] Tomcli commented on #308
@ckadner when you cut the release, you can cut it from the v0.2.0 branch so that we can keep track of the diff for any new cherry pick commits.

[2022-03-08 21:53] RRM123 commented on #258
@ckadner I can start working on this issue

[2022-03-09 17:47] ckadner commented on #258
Thanks @RRM123 for taking this up

[2022-03-09 18:29] psspavan96 opened #313 "API Architecture Documentation"
- [ ] Include a tabular form of the components of MLX API.
- [ ] Architecture Diagram of MLX API.
- [ ] Process of API change (Modify the swagger spec, Generate code, Implement controller, Test, Examples, client, Deploy)

FYI @ckadner

[2022-03-16 20:27] rafvasq opened #316 "Add script to update the navigation table in docs"
Update the table created in #314

[2022-03-18 02:48] BrandonYifanLiu opened #318 "Local deployment on KIND needs update"
**Describe the bug**

When deploying MLX by following instructions [here](https://github.com/machine-learning-exchange/mlx/blob/main/docs/install-mlx-on-kind.md#deploy-mlx-single-user), hitting some errors in below format.

[code]

**To Reproduce**

With following CLI versions.
[code]
Steps to reproduce the behavior:
1. Go to this [link](https://github.com/machine-learning-exchange/mlx/blob/main/d

[2022-03-18 02:49] BrandonYifanLiu commented on #318
Checked k8s doc, it should relate to API deprecation. Link here https://kubernetes.io/docs/reference/using-api/deprecation-guide/

[2022-03-18 05:11] ckadner commented on #318
Hi @BrandonYifanLiu thanks for reporting this. Did the deployment succeed eventually?

@Tomcli I think I have seen (some of) these error/warning messages before but the deployment seemed to succeed eventually

You had mentioned to

Is this connected?

[2022-03-18 05:21] ckadner opened #319 "Make `check_doc_links` fails with UnicodeDecodeError: 'utf-8' codec can't decode byte 0x96 in position 522: invalid start byte"
**Describe the bug**

There are 2 problems when running `make check_doc_links` :

1. too many "third-party" Markdown files from project dependencies are scanned for hyperlinks which cause the process to take way too much time
2. if any of the Markdown files is not UTF-8 encoded, the check errors out

**To Reproduce**

Build the MLX UI (see [dashboard/origin-mlx/README.md](https://github.com/machin

[2022-03-18 21:03] #319 closed

[2022-03-23 17:56] Tomcli commented on #318
Yes, the CRDs take some time to deploy, so we might need to run it twice if we deploy MLX on a new cluster.

[2022-03-24 18:22] rafvasq opened #322 "Add a Makefile linter"

[2022-03-28 17:59] ckadner commented on #318
Hi @BrandonYifanLiu -- could you create a PR to update the docs with the Kubernetes versions we need to use and how to do it with KIND?

[2022-03-29 01:51] RRM123 commented on #258
Submitted a PR that resolves most of the documentation issues outlined above.
The remaining tasks are these changes to the `developer-guide.md`:
1. build the UI docker image from local code, push the image, deploy to cluster
2. developer setup with docker compose
3. code contribution guidelines, linting, updating npm dependencies, creating PRs, etc

[2022-03-30 22:02] #301 closed

[2022-04-04 17:48] #316 closed

[2022-04-05 01:19] RRM123 commented on #155
@ckadner I can try my hand at resolving this issue. Are there any specifications of what the asset description should contain?

[2022-04-05 17:44] ckadner commented on #155
Thanks for taking this up @RRM123

Should be a brief, i.e. one sentence, description of the asset that is being uploaded. Note, that that will override (take precedence over) the `description` that might be contained inside the uploaded YAML. The description is used on the cards being displayed on the featured asset list and in the top banner for the asset details view -- bothe places have very li

[2022-04-22 20:59] ckadner opened #328 "Make target `update_doc_table` has incorrect description"
The description of the Make target `update_doc_table: ## Check markdown files for invalid links` is incorrect (failed to update after copy/paste in PR #317)

https://github.com/machine-learning-exchange/mlx/blob/605fe331d863e62e770607130041d298268b4122/Makefile#L30-L31

It should read `## Regenerate the /docs/README.md file`

[code]

The descriptions of the Make targets can be viewed when running

[2022-04-23 16:05] ezinneanne commented on #328
**Hello can I take this**

[2022-04-25 18:42] ckadner commented on #328
Hi @ezinneanne -- yes, please go ahead and submit a PR for this. Thank you!

[2022-05-18 20:35] ckadner opened #331 "Implement KFP Template Registry API"
**Description:**

Implement the new "[Generic Protocol for Kubeflow Pipeline Template Registry](https://github.com/kubeflow/pipelines/issues/7382)" API in MLX.

**References:**

https://github.com/kubeflow/pipelines/issues/7382

[2022-05-18 20:36] ckadner commented on #331
@ptitzler

[2022-05-18 23:22] ckadner commented on #318
@rafvasq -- I think this is the issue you encountered today? Could you verify the Kubernetes version you were using? i.e. Brandon had `1.23.4`.

Supported (required) Kubernetes should probably be no newer than `1.21`.

**Action items:**

1. Update [KIND deployment doc](https://github.com/machine-learning-exchange/mlx/blob/main/docs/install-mlx-on-kind.md):
  - mention Kubernetes high version bound

[2022-05-25 03:54] rafvasq commented on #318
@ckadner, I've tested and continue to run into this issue with kubectl versions 1.20 and 1.21. Continuing to test but my latest attempt used the following:

- kind version
  - `0.14.0`
- kubectl version
  - `Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.15", GitCommit:"8f1e5bf0b9729a899b8df86249b56e2c74aebc55", GitTreeState:"clean", BuildDate:"2022-01-19T17:27:39Z", GoVersi

[2022-05-25 18:42] #318 closed

[2022-05-25 18:47] ckadner commented on #318
@rafvasq -- I just merged the PR from @kiranp2396 so the kind create cluster command should work as expected now.

[2022-05-27 17:54] ckadner commented on #328
Closed via #329

[2022-05-27 17:54] #328 closed

[2022-06-09 17:09] jbusche opened #337 "mlx ui pod: "EACCES: permission denied, mkdir '/workspace/build'""
**Describe the bug**

Trying the MLX install on my openshift cluster this am, so the steps are pretty easy
[code]
I suspect my cluster needs more configuration though, after step 1, because I've got what looks like pvc permission issues, for example:
[code]
**To Reproduce**

See above

**Expected behavior**

Was expecting the mlx-ui pod to start successfully.

**Screenshots**

n/a

**Environment**

[2022-06-09 17:20] ckadner commented on #337
Thank you @jbusche

I think @srmeier had come across this a few weeks ago and overcame the issue by adding the following to the [`mlx-ui` `Dockerfile`](https://github.com/machine-learning-exchange/mlx/blob/main/dashboard/origin-mlx/Dockerfile):
[code]

Just doing a quick Google check on this. It seems the permissions for users running in Docker containers are at the core of this issue along with s

[2022-06-13 20:49] jbusche commented on #337
Noticing a problem with non-root user when deploying mlx:
[code]
And then when I deleted the pod, it restarted as root user:

[code]

[2022-06-14 22:33] ckadner commented on #337
There was some good advice on resolving this issue here: https://github.com/nodejs/docker-node/issues/740#issuecomment-538644464

[2022-06-15 01:52] #337 closed

[2022-06-17 06:43] BluThaitanium commented on #322
Hey @ckadner! I would like to work on this issue.

[2022-06-17 20:21] ckadner commented on #322
Hey Phu, glad to see you back. Please go ahead!

[2022-06-17 23:36] ckadner opened #341 "Convert to UBI conformant container images"
**Describe the feature or enhancement request:**

Convert container images used in MLX and MLX Katalog to [UBI](https://developers.redhat.com/products/rhel/ubi).

---

**Where do we currently use potentially non-UBI-compliant images?**

- MLX API, pipelines **code templates**:
[code]
- MLX `Katalog`, **components:**
[code]

- MLX `Katalog`, **pipelines**:
[code]

- MLX `Katalog`, **models**:
[code

[2022-06-22 17:24] JiaxuanYang commented on #263
@ckadner could you please assign this issue to me? thank you!

[2022-06-23 01:06] ckadner opened #343 "`mlx-ui` pod fails to start up on OpenShift"
**Describe the bug**

After deploying MLX on OpenShift (4.8, 4.10 on either IBM Cloud or Fyre)

[code]

The `mlx-ui` pod fails to start up:

[code]

We can see exit code `243` in `oc describe pod mlx-ui-7fbbbf6cbb-hll4z `:

[code]

After deleting the `mlx-ui` pod, the `mlx-ui` comes up fine:

[code]

Thanks @jbusche for verifying this error to be consistent across various OC deployments

[2022-06-23 01:26] ckadner opened #344 "Cannot toggle Capabilities in MLX settings on OpenShift"
**Describe the bug**

Cannot toggle Capabilities in MLX settings for MLX deployed on OpenShift.

**To Reproduce**

1. Deploy MLX on OpenShift
2. Login as admin in the MLX UI
3. Go to `Settings`
4. Try to toggle any of the `Capabilities` or `Artifact Types`

**Expected behavior**

Toggle should move left and right when clicked on but here nothing happens.

**Error details**

In the web browser cons

[2022-06-23 01:26] ckadner commented on #344
FYI @jbusche

[2022-06-23 01:40] ckadner opened #345 "`mlx-ui` logs show session error messages"
**Describe the bug**

The logs of the MLX UI show error messages like these:

[code]

**Steps to Reproduce**

Deploy MLX and open the MLX web UI while tailing the logs of the `mlx-ui` pod/container.

**Logs:**

[code]

[2022-06-24 22:23] #263 closed

[2022-06-29 00:49] rafvasq opened #347 "No IstioIngressGateway Route on Openshift"
**Describe the bug**

The main README [states](https://github.com/machine-learning-exchange/mlx#2-access-the-mlx-ui):

But no route is created, I end up accessing the MLX UI using one of the nodes' public IPs.

      ❯ kubectl get node -o wide

      NAME            STATUS   ROLES           AGE     VERSION            INTERNAL-IP     EXTERNAL-IP       OS-IMAGE   KERNEL-VERSION                CONTAI

[2022-07-05 13:22] JiaxuanYang opened #348 "Experiment link returns 404"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'Pipelines'
2. Click on 'Experiments'
3. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**
<img width="1604" alt="Screen Shot 2022-07-01 at 9 44 40 AM" src="https://user-images.githubusercontent.com/3

[2022-07-05 21:01] rafvasq opened #349 "Option to change MLX admin password during deployment"
There should be a way to provide a modified password for the MLX UI upon deployment. Will add possible solutions here.

[2022-07-06 08:52] ckadner commented on #348
Hi @JiaxuanYang can you describe how you deployed this instance of MLX? I.e. is this on IKS or OpenShift (IBM Cloud or Fyre) or a local Kind deployment?

[2022-07-06 12:51] ckadner opened #351 "MLX UI shows outdated texts"
**Describe the bug**

The VIEW ALL screen shows some outdated texts.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'Models' or any other asset type
2. Click on 'VIEW ALL ...'
3. See screenshot for details

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

<img width="1049" alt="image" src="https://user-images.githubusercontent.c

[2022-07-06 13:15] JiaxuanYang commented on #348
I deployed it locally

[2022-07-06 14:34] JiaxuanYang commented on #222
Hi @ckadner, could you please assign this issue to me? Thank you!

[2022-07-06 15:16] ckadner commented on #348
With KIND I suppose (Kubernetes version 1.21)? And your port-forward is not to the mlx-ui directly but to the istio-ingress service?

When you use your browser developer tools, what do you see in the network traffic log when you click on experiments?

[2022-07-07 12:08] ckadner commented on #348
@JiaxuanYang besides clearing browser cookies (private window), could you check if all of the kubeflow pods came up fine?

[2022-08-04 17:15] ckadner commented on #348
Actually, there still is an issue here. Although the **VIEW EXPERIMENTS** link works for cluster deployments (incl. KIND), it does not work for the local **Quick-Start** deployment with `docker compose`. For that we should disable (remove) the "VIEW EXPERIMENTS" link.

<img width="588" alt="image" src="https://user-images.githubusercontent.com/12246093/182910898-81785e9a-1af0-45df-9fb8-48848741fc6

[2022-09-13 08:19] simanadler opened #358 "KIND installation doesn't work on k8s 1.22+"
**Describe the bug**

When following the instructions [here](https://github.com/machine-learning-exchange/mlx/blob/main/docs/install-mlx-on-kind.md#install-kubeflow-pipelines-for-reference-only-optional) the kubeflow pipeline installation fails if k8s 1.22 or newer is installed.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a kind cluster based on k8s 1.22 or newer
2. Follow kind i

[2022-09-14 18:35] ckadner commented on #358
Hi Sima, I need to update these instructions for Kubernetes 1.22. I will create a PR shortly.

[2022-10-04 00:09] ckadner commented on #347
Closed by #356

[2022-10-04 00:09] #347 closed